@import '../../variable.scss';

.sideBar {
    padding: 1.5rem;
    width: 11rem;
    height: calc(100vh - 3rem);
    position: sticky;
    top: 0;
    overflow: hidden;
}

@media only screen and (max-width: $mid-width) {
    .sideBar {
        height: auto;
        width: auto;
        padding: 1rem 1rem 0 1rem;
        position: sticky;
        top: 0;
        overflow: hidden;
        z-index: 2;
        font-size: small;
        background-color: white;
    }
}